/* .selector-for-some-widget {
  box-sizing: content-box;
} */


.banner {
    background-image: url("../images/IssueLabHeader-Wide.png");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  height:700px;
  /* object-fit: fill; */
}


.feature-image {
    object-fit: contain;
    width: 380px;
    text-align: center;
}

.parent {
    align-items: center;
    justify-content: center;
  }

.image-container{
    /* width:100%; */
    text-align:center;
}

#collab-image {
    width: 100%;
}

.feature-text {
    width: 350px;
}


.additional-feature-img {
    width:100px !important;
    text-align: center;
}
 