/* .selector-for-some-widget {
  box-sizing: content-box;
} */


.banner {
    background-image: url("../images/IssueLabHeader-Wide.png");
    margin-bottom: 10px;
  width: 100%;
  background-repeat:no-repeat;
    background-position: center;
  object-fit:cover;
}

.top-20 {
    top: 35%!important;
}

.label {
    height: auto;
}

.pricing-register-container {
    max-width: 800px !important;
}

.footer-link a {
    text-decoration: none;

}


.evenGridAreaSection {
    background-color: #f9fafb;
    /* padding: 20px; */
}

.oddGridAreaSection {
    background-color: #fff;
}


.feature-image {
    object-fit: contain;
    width: 350px;
    text-align: center;
}

.parent {
    align-items: center;
    justify-content: center;
  }

.image-container{
    width:100%;
    text-align:center;
}

#collab-image {
    width: 100%;
}

.feature-text {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.oddGridArea {
    display:grid;
    grid-template-areas: 
    "text image";
  grid-template-columns: auto auto;
   
}

.odd-feature-text {
    grid-area: text;
}

.odd-feature-image {
    grid-area: image;
}


.evenGridArea {
    display:grid;
    grid-template-areas: 
    "image text";
  grid-template-columns: auto auto;
   
}

.even-feature-text {
    grid-area: text;
}

.even-feature-image {
    grid-area: image;
}

.additional-feature-img {
    width:100px !important;
    text-align: center;
}
 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .banner {
        background-image: url("../images/IssueLabHeader.png");
      height:800px;
    }

.odd-feature-text, .even-feature-text {
    text-align: center;
}

.oddGridArea {
    display:grid;
    grid-template-areas: 
    "image"
    "text";
    grid-template-columns: 1fr;
  grid-template-rows: auto auto;
   
}

.odd-feature-text {
    grid-area: text;
}

.odd-feature-image {
    grid-area: image;
}


.evenGridArea {
    display:grid;
    grid-template-areas: 
    "image"
    "text";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
   
}

.even-feature-text {
    grid-area: text;
}

.even-feature-image {
    grid-area: image;
}

.additional-feature-img {
    width:100px !important;
    text-align: center;
   
}

.feature-image {
    height: 220px;
    margin-top: 20px;
}
 
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .evenGridArea {
        /* max-width: 540px; */
  }

  .banner {
    background-image: url("../images/IssueLabHeader.png");
  height:800px;
}
}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .banner {
        background-image: url("../images/IssueLabHeader.png");
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .banner {
        background-image: url("../images/IssueLabHeader-Wide.png");
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .banner {
        background-image: url("../images/IssueLabHeader-Wide.png");
    }
  }



